{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <div class="about">
            <h1>About Us</h1>
        </div>
        
        <table class="info-table">
            <tr>
                <td class="info-label">Developed by :</td>
                <td class="value">Muhammad Ilyas</td>
            </tr>
            <tr>
                <td class="info-label">Institute :</td>
                <td class="value">SMIT Peshawar</td>
            </tr>
            <tr>
                <td class="info-label">Instructor :</td>
                <td class="value">Nasir Hussain</td>
            </tr>
        </table>
        
    </div>

{% endblock content %}